<!DOCTYPE html>
<html>
<head>
	<title> Red </title>
	
	<meta charset="utf-8">
	<meta name="author" content="Susan Xie">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Reference Links:-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/public/assets/logo.ico">
	
	<!--Google Fonts:-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand:400&display=swap" rel="stylesheet">

</head>

<body>
	<div id="menu"></div>
	<div id="score"></div>
	<div id="popup"></div>
	<div id="gameContainer"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
	<script src="/public/assets/MTLLoader.js"></script>
	<script src="/public/assets/OBJLoader.js"></script>
	<script src="/public/assets/game.js"></script>
	
</body>
