<!DOCTYPE html>
<html>
<head>
	<title> Red </title>
	
	<meta charset="utf-8">
	<meta name="author" content="Susan Xie">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Reference Links:-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/public/assets/logo.ico">
	
	<!--Google Fonts:-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>

<body class="background">
	<div class = "row">
		<div class = "col-7">
			<div class = "highscores">
				<h2 style="text-align:center"> <b>HIGH SCORES</b></h2>
				<div class="row">
						<% if (typeof scores == 'object') { %>
							<% var count = 0 %>
							<% scores.forEach(function(s) { %>
							<% if (count < 9) { %>
							<div class="col-10"><p>&nbsp;<%= count + 1 %>. &nbsp; <%= s.scoreName %></p></div>
							<div class="col-2" style="text-align:right"><p><%= s.highScore %></p></div>
							<% } else if (count < 10) { %>
								<div class="col-10"><p><%= count + 1 %>. &nbsp; <%= s.scoreName %></p></div>
								<div class="col-2" style="text-align:right"><p><%= s.highScore %></p></div>
							<% } %>
							<% count++ 
							}) 
						} %>
				</div>
			</div>
		</div>
		<div class = "col-5">
			<h1 class="title"> RED </h1>
			<form method="POST">
				<button class="enter" type="submit">PLAY GAME</button>
			</form>
		</div>
	</div>
</body>
